<table mat-table [dataSource]="produtos">

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef width="220"> ID</th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <!-- descricao Column -->
  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef width="80"> Ação </th>
    <td mat-cell *matCellDef="let element">  
      <button 
        mat-icon-button 
        color="primary" 
        aria-label="edit"
        [routerLink]="['/', 'produto', element._id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button 
        mat-icon-button 
        color="warn" 
        aria-label="remover"
        (click)="onhandlerRemoved(element._id)">
        <mat-icon>delete</mat-icon>
      </button>      
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="empty" *ngIf="produtos.length === 0">Não há produtos cadastrados.</div>